In [11]:
# Library
%matplotlib inline

import pandas as pd
import numpy as np
import seaborn as sns

import random
from sklearn import *
import statsmodels.api as sm

In [2]:
# import dataframe
df = pd.read_csv('data/Challenger_Ranked_Games.csv')
df

,gameId,gameDuraton,blueWins,blueFirstBlood,blueFirstTower,blueFirstBaron,blueFirstDragon,blueFirstInhibitor,blueDragonKills,blueBaronKills,...,redAssist,redChampionDamageDealt,redTotalGold,redTotalMinionKills,redTotalLevel,redAvgLevel,redJungleMinionKills,redKillingSpree,redTotalHeal,redObjectDamageDealt
0,4247263043,1323,0,1,0,0,0,0,0,0,...,68,73016,49832,533,64,12.8,138,8,38711,60463
1,4247155821,1317,1,0,0,0,1,0,2,0,...,8,44218,37136,571,59,11.8,134,3,24829,14105
2,4243963257,932,0,0,0,0,0,0,0,0,...,20,30797,35364,400,50,10.0,89,5,12589,45201
3,4241678498,2098,0,0,0,1,1,0,1,1,...,72,125866,70528,832,84,16.8,205,9,65312,88202
4,4241538868,2344,1,1,1,1,1,1,2,2,...,83,131536,74596,794,85,17.0,227,7,86431,64141
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26899,4143231833,1468,0,1,0,0,0,0,1,0,...,40,75531,46558,478,64,12.8,141,6,48596,42733
26900,4157911901,970,0,1,1,0,1,0,3,0,...,31,99837,70177,455,72,14.4,136,11,15817,50217
26901,3764171638,1480,0,1,1,0,1,0,1,0,...,34,55214,48849,636,66,13.2,175,6,25448,27675
26902,4110201724,1837,1,1,0,0,1,0,3,0,...,29,88366,52625,660,70,14.0,168,5,25003,45455
26903,4100240254,948,1,1,1,0,0,0,1,0,...,3,16574,20972,351,40,8.0,56,0,7138,6808

In [3]:
# description
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26904 entries, 0 to 26903
Data columns (total 50 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   gameId                   26904 non-null  int64
 1   gameDuraton              26904 non-null  int64
 2   blueWins                 26904 non-null  int64
 3   blueFirstBlood           26904 non-null  int64
 4   blueFirstTower           26904 non-null  int64
 5   blueFirstBaron           26904 non-null  int64
 6   blueFirstDragon          26904 non-null  int64
 7   blueFirstInhibitor       26904 non-null  int64
 8   blueDragonKills          26904 non-null  int64
 9   blueBaronKills           26904 non-null  int64
 10  blueTowerKills           26904 non-null  int64
 11  blueInhibitorKills       26904 non-null  int64
 12  blueWardPlaced           26904 non-null  int64
 13  blueWardkills            26904 non-null  int64
 14  blueKills                26904 non-null  int64
 15  blueDeath                26904 non-null  int64
 16  blueAssist               26904 non-null  int64
 17  blueChampionDamageDealt  26904 non-null  int64
 18  blueTotalGold            26904 non-null  int64
 19  blueTotalMinionKills     26904 non-null  int64
 20  blueTotalLevel           26904 non-null  int64
 21  blueAvgLevel             26904 non-null  float64
 22  blueJungleMinionKills    26904 non-null  int64
 23  blueKillingSpree         26904 non-null  int64
 24  blueTotalHeal            26904 non-null  int64
 25  blueObjectDamageDealt    26904 non-null  int64
 26  redWins                  26904 non-null  int64
 27  redFirstBlood            26904 non-null  int64
 28  redFirstTower            26904 non-null  int64
 29  redFirstBaron            26904 non-null  int64
 30  redFirstDragon           26904 non-null  int64
 31  redFirstInhibitor        26904 non-null  int64
 32  redDragonKills           26904 non-null  int64
 33  redBaronKills            26904 non-null  int64
 34  redTowerKills            26904 non-null  int64
 35  redInhibitorKills        26904 non-null  int64
 36  redWardPlaced            26904 non-null  int64
 37  redWardkills             26904 non-null  int64
 38  redKills                 26904 non-null  int64
 39  redDeath                 26904 non-null  int64
 40  redAssist                26904 non-null  int64
 41  redChampionDamageDealt   26904 non-null  int64
 42  redTotalGold             26904 non-null  int64
 43  redTotalMinionKills      26904 non-null  int64
 44  redTotalLevel            26904 non-null  int64
 45  redAvgLevel              26904 non-null  float64
 46  redJungleMinionKills     26904 non-null  int64
 47  redKillingSpree          26904 non-null  int64
 48  redTotalHeal             26904 non-null  int64
 49  redObjectDamageDealt     26904 non-null  int64
dtypes: float64(2), int64(48)
memory usage: 10.3 MB

In [4]:
# 표본선택
sample_record = []

while (len(sample_record) != 200):
    rand_num = random.randint(0,26903)
    
    if (rand_num in sample_record):
        continue
    else:
        sample_record.append(rand_num)

sample_df = df.loc[sample_record]
sample_df.sort_index(ascending = True, inplace = True)

In [5]:
sample_df

,gameId,gameDuraton,blueWins,blueFirstBlood,blueFirstTower,blueFirstBaron,blueFirstDragon,blueFirstInhibitor,blueDragonKills,blueBaronKills,...,redAssist,redChampionDamageDealt,redTotalGold,redTotalMinionKills,redTotalLevel,redAvgLevel,redJungleMinionKills,redKillingSpree,redTotalHeal,redObjectDamageDealt
122,4231892073,1802,1,1,1,1,0,1,2,1,...,25,57749,48975,717,69,13.8,132,1,28614,25861
561,4207470343,1445,0,0,0,0,1,0,2,0,...,49,82927,53645,517,71,14.2,160,9,36171,56227
697,4181156732,1392,0,1,0,0,0,0,0,0,...,45,66396,46668,501,63,12.6,152,6,53287,59377
738,4255555265,1913,1,1,0,1,1,1,4,1,...,17,69080,56610,835,73,14.6,196,4,34181,47044
898,4241299320,1560,1,1,1,1,1,1,4,1,...,35,64931,47726,581,66,13.2,104,5,14158,11716
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26432,4116481742,2118,1,0,1,0,1,1,4,0,...,33,73732,63415,859,76,15.2,195,4,27814,52702
26440,4071393189,1378,0,1,0,0,1,0,2,0,...,37,66500,47791,502,64,12.8,141,4,17419,38686
26574,4089746442,1277,1,1,1,0,1,1,3,0,...,18,38632,32965,492,52,10.4,80,2,10868,6803
26683,4118584634,2009,0,1,1,0,1,1,3,0,...,51,97259,65071,768,80,16.0,183,6,38551,55369
26788,4135364846,1633,0,1,0,0,1,0,3,0,...,66,87865,53890,482,67,13.4,141,9,40970,48947

In [6]:
blue_sample = sample_df.loc[:,'blueWins':'blueObjectDamageDealt']
red_sample = sample_df.loc[:,'redWins':'redObjectDamageDealt']

In [7]:
# 승패와 column간 상관관계 확인
(blue_sample.select_dtypes(['int64', 'float64']).corr()).loc['blueWins']
(red_sample.select_dtypes(['int64', 'float64']).corr()).loc['redWins']

redWins                   1.000000
redFirstBlood             0.250267
redFirstTower             0.479940
redFirstBaron             0.469212
redFirstDragon            0.210579
redFirstInhibitor         0.646528
redDragonKills            0.481763
redBaronKills             0.467304
redTowerKills             0.737125
redInhibitorKills         0.532967
redWardPlaced             0.105494
redWardkills              0.123392
redKills                  0.450053
redDeath                 -0.529049
redAssist                 0.336485
redChampionDamageDealt    0.115390
redTotalGold              0.245952
redTotalMinionKills       0.070360
redTotalLevel             0.193287
redAvgLevel               0.193287
redJungleMinionKills      0.319789
redKillingSpree           0.406261
redTotalHeal              0.150346
redObjectDamageDealt      0.609159
Name: redWins, dtype: float64

In [10]:
# 승패와 column간 logistic regression
regression_blue_df = blue_sample.drop(columns = ['blueFirstBlood', 'blueFirstTower', 'blueFirstDragon', 'blueFirstInhibitor'])
regression_red_df = red_sample.drop(columns = ['redFirstBlood', 'redFirstTower', 'redFirstDragon', 'redFirstInhibitor'])

In [ ]:
logit = sm.Logit(regression_blue_df['blueWins'],reg_df[reg_df.columns.tolist()[:-2]])